VITE_SUPABASE_PROJECT_ID="sidlrtikbqrssieocmkd"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpZGxydGlrYnFyc3NpZW9jbWtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMzg4MzAsImV4cCI6MjA4ODkxNDgzMH0.pX1efTvNkEpD8iRYQv7d6HlxXRK0I79wxh1t21GswQI"
VITE_SUPABASE_URL="https://sidlrtikbqrssieocmkd.supabase.co"
