CREATE TABLE IF NOT EXISTS public.suppliers ( 
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY, 
  name TEXT NOT NULL, 
  contact_number TEXT, 
  email TEXT, 
  service_type TEXT, 
  opening_balance NUMERIC DEFAULT 0, 
  current_balance NUMERIC DEFAULT 0, 
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() 
);
